:root {
    font-size: 16px;
    font-family: "Roboto Condensed", "Barlow", "Quattrocento", "Satisfy", "sans-serif";

    --acik-gri: #5F5F5F;
    --koyu-gri: #292929;
    --sari: #FDC913;
    --kirmizi: #CE2829;
    --bej: #FAF7F2;
}

.header {
    background-color: var(--kirmizi);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: var(--kirmizi);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--bej);
}

.active-link {
    font-weight: bold;
}

.menu-container {
    background-color: var(--kirmizi);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-baslik {
    color: var(--bej);

}

.genel {
    background-color: var(--bej);
}

main {
    background-color: var(--bej);
    margin: auto;
    width: 532px;
    color: var(--acik-gri);
}

h1 {
    text-align: center;
    color: var(--koyu-gri);
    font-size: 25px;
    margin-top: 15px;
}

h2 {
    color: var(--koyu-gri);
}

.malzemeler label {
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
}


.istatistik {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fiyat {
    color: var(--koyu-gri);
    font-weight: bold;
    width: 50%;
}

.puan-degerlendirme {
    display: flex;
    width: 50%;
}

.puan {
    width: 50%;
}

h2 span {
    color: var(--kirmizi);
}

.btn-siparis {
    background-color: var(--sari);
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.hamur select {
    cursor: pointer
}


button {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}



@media (max-width: 480px) {
    main {
        max-width: 90%;
    }
}