.hamur-secim,
button,
input[type="radio"],
input[type="checkbox"],
.malzemeler label,
.boyut label {
    cursor: pointer
}

.header {
    background-color: var(--kirmizi);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding-top: 10vh;
}

.navbar {
    background-color: var(--kirmizi);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    padding: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--bej);
}

.active-link {
    font-weight: bold;
}

.home-container {
    background-image: url("./images/iteration-1-images/home-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.home-flex {
    display: flex;
    flex-direction: column;
    height: 70vh;
    text-align: center;
}

.home-baslik {
    color: var(--bej);
    font-size: 2rem;
}

.btn-aciktim {
    background-color: var(--sari);
    color: var(--koyu-gri);
    font-weight: bold;

    width: 10rem;

    margin-top: 1rem;
    padding: 1rem;

    border: none;
    border-radius: 5px;

}

.success-container {
    background-color: var(--kirmizi);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-baslik {
    color: var(--bej);
    font-size: 2rem;
    text-align: center;
}

.options-container {
    background-color: var(--kirmizi);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.options-baslik {
    font-size: 2rem;
    color: var(--bej)
}

.order-container {
    margin: 1rem auto;
    width: 532px;
    color: var(--acik-gri);
}

.pizza-baslik {
    text-align: left;
    color: var(--koyu-gri);
    font-size: 1.5rem;
}

.istatistik {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.fiyat {
    color: var(--koyu-gri);
    font-weight: bold;
    font-size: 1.5rem;
    width: 50%;
}

.puan-degerlendirme {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.boyut-hamur {
    display: flex;
    justify-content: space-between;
}

.secimler-baslik {
    color: var(--koyu-gri);
    font-weight: bold;
    font-size: 1.2rem;
}

.yildiz {
    color: var(--kirmizi);
}

.boyut {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.boyut-button {
    margin-right: 1rem;
}

.hamur {
    width: 50%;
}

.malzemeler {
    margin: 1rem auto;
}

.malzeme-paragraf {
    margin: 1rem auto;
}

.malzeme-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.malzeme-item {
    flex: 1 1 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
}

.checkbox {
    margin-right: 1rem;
}

.malzemeler label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.siparis-baslik {
    margin: 1rem auto;
}

.siparis-textarea {
    width: 100%;
    border-radius: 5px;

}

hr {
    width: 100%;
}

.son {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 2rem;
}

.adet-container {
    display: flex;
}

.artir,
.azalt {
    background-color: var(--sari);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    padding: 1rem;
}

.adet-container p {
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--acik-gri);
}

.fatura {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    border: 1px solid var(--acik-gri);
    border-radius: 0.5rem;
    padding: 2rem 2rem 0 2rem;
}


.secimler-fiyat {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.toplam-fiyat {
    color: var(--kirmizi);
    font-weight: bold;

    display: flex;
    justify-content: space-between;
}

#btn-siparis {
    background-color: var(--sari);
    color: var(--koyu-gri);
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2rem 0;
}

@media (max-width: 480px) {
    main {
        max-width: 20%;
    }
}